body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeLink {

  font-family: 'Pacifico', cursive;
  font-size: 36px;

}

.navBarHeadingText {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 12pt;
  font-style: italic;
  font-weight: bolder;
}

.jumboHeading {
  font-family: 'Ubuntu Mono', monospace;
  margin-bottom: 3%
}

.jumboBodyText {
  font-family: 'Ubuntu Mono', monospace;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.jumboFYIText {
  font-size: 10.5pt;
  font-family: 'Ubuntu Mono', monospace;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%
}

.projectTitles {
  font-size: 24pt;
  font-family: 'Ubuntu Mono', monospace;
  background-color: "dark";
}

.jumboButton {
  font-family: 'Ubuntu Mono', monospace;
}
